.o-btn
  display inline-block
  vertical-align middle
  font-size rem(14px)
  text-align center
  text-transform uppercase
  cursor pointer
  margin 0
  transition $default-transition
  border none
  border-radius 4px
  background-color $brand-primary
  box-shadow: 0 2px 5px 0 rgba(38, 48, 60, 0.2);
  line-height 1
  outline none
  color #fff
  padding 8px 15px
  font-weight bold
  line-height 1.29

  &
  &:hover
  &:focus
  &:active
    text-decoration none
