::selection
  background $selection-bg-color
  text-shadow none
  color $selection-text-color

h1
h2
h3
h4
h5
 font-family $font-family-base
 color $text-color

html
body
button
input
optgroup
select
textarea
 font-family $font-family-base
 color $text-color
 -webkit-font-smoothing antialiased
